body {
  margin: 0;
  padding: 10px;
  background-color: #ece8ef;
}

.container {
background-color: #3e4449;
display: flex;
align-items: center;
justify-content: center;
margin: 0;
flex-direction: column;
}

.task {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start; 
width: 100%; 
min-height: 400px;
}

.task:nth-child(even) {
background-color: #3e4449; 
}

.task:nth-child(odd) {
background-color: #e9ecef;
}

h2 {
font-size: 24px;
text-align: center;
margin: 0; 
}

.task:nth-child(even) h2 {
color: #e9ecef; 
}

.task:nth-child(odd) h2 {
color: #3e4449;
}

.container-tasks {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ece8ef;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  flex-direction: row;
  width: 100%; 
  min-width: 500px;
  min-height: 400px;
}

.container-task {
  background-color: #e3ebff;
  border-radius: 10px;
  border: 2px solid white;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  min-height: 100px;
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 1;
  justify-content: space-between;
}

.tasks_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #4391f1;
  border-bottom: 2px solid white;
  text-align: center;
  /* padding-top: 20px;
  padding-bottom: 20px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tasks_header_text {
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: 700;
}

.task_header_options:hover {
  color: rgba(211, 211, 211, 0.799);
}

.task_list {
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 50px;
}

.task_card {
  position: static;
  border-radius: 10px;
  border: 1px solid #e7f0ff;
  background-color: #e7f0ff;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.25);
  margin: 10px 3px;
  min-height: 50px;
  cursor: grab;
}

.task_list .task_card.dragging { 
  z-index: 1000;
  position: absolute;
  transform: rotate(4deg);
  pointer-events: none;
  cursor: grabbing;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.close_button_container{
  position: relative;
}

.close_button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  display: none;
}

.task_card:hover .close_button {
  display: block;
  cursor: pointer;
}

.content_card {
  padding: 5px;
  font-size: 0.8em;
}

.content_card:focus-visible {
  outline: 1px solid gray;
}

.content_card[contenteditable='true']:hover {
  cursor: text;
}

.card_text_edit {
  font-size: 24px;
  margin-left: 5px;
  width: 1em;
  transform: rotateY(180deg);
}

.card_text_edit:hover {
  cursor: pointer;
}

.card_form {
  font-size: 0.8em;
  font-weight: 700;
  color: #dc493a;
  cursor: pointer;
  width: 100%;
  height: 30px;
  background-color: #e7f0ff;
  justify-content: center;
  align-items: center;
  display: flex;
  border-top: 2px solid white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card_form:hover {
  color: black;
  text-decoration: underline;
}